@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Mont, sans-serif;
}

.balloon-card {
  width: 300px;
  height: 230px;
  background-color: #fff;
}

#YMapsID{
  height:100%;
}

@media (max-width: 767px) {
  .balloon-card {
    width: 200px;
    height: 330px;
    background-color: #fff;
  }
}
